<ul>
    <input id="orderCode" type="number" value="">
    <div class="btn" (click)="CreateOrder()">Create Order</div>
    <li>
        <div class="list-item">
            <div class="sub-item">No</div>
            <div class="sub-item">Product Code</div>
            <div class="sub-item">Product Name</div>
            <div class="sub-item">Quantity</div>
            <div class="sub-item">Total Price</div>
        </div>
    </li>
    <li *ngFor="let orderItem of orderList;let i=index">
        <div class="list-item">
            <div class="sub-item index">{{i+1}}</div>
            <div class="sub-item code">{{orderItem.ProductCode}}</div>
            <div class="sub-item name">{{orderItem.ProductName}}</div>
            <input class="sub-item quantity" type="number" (change)="InputChange(i)" value="1">
            <div class="sub-item price">{{orderItem.SellingPrice}}TL</div>
        </div>
    </li>
</ul>
